<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ezen.mall.spring.product">

	<select id="productSelectAll" resultType="ProductDTO">
		select product_number, category_code, product_name, product_price, product_stock, 
		product_desc, product_date, product_hits from product
	</select>
</mapper>